<!DOCTYPE html>
<html lang="en-US">
<head>
	{%load static%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title></title>
<!-- Favicon Icon -->
<link rel="shortcut icon" href="{%static 'home/img/favicon.ico'%}" type="image/x-icon">
<!-- Bootstrap -->
<link rel="stylesheet" href="{%static 'home/css/bootstrap.css'%}">
<!-- Plugins -->
<link rel="stylesheet" href="{%static 'home/css/core.css'%}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{%static 'home/css/style.css'%}">
</head>

<body id="top" class="stickyfooter header-fixed">
<div class="animsition">
	<div class="content">
		<header class="header-wrap no-transparent">
			<div class="header-container">
				<div class="container clearfix">
					<div class="pull-left">
						<!-- Logo -->
						<a href="." class="logo clearfix">MINIDARK</a>
					</div>
					<div class="pull-right">
						<!-- Menu Burger -->
						<a href="#" class="fullscreen-menu-toggle">
							<span>Menu</span>
							<i class="menu-bars">
								<i></i>
								<i></i>
								<i></i>
							</i>
						</a>
					</div>

				</div>
			</div>
			<!-- End header-container -->
		</header>
		<div id="fullscreen-navigation">
			<div class="inner-wrap">
				<nav>
					<ul class="nav_menu">
						<li><a href=".">HOME</a></li>
						<li><a href="admin">ADMIN</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- End fullscreen-navigation -->
		<section class="jarallax" style="background-image: url('img/bg/08.png');">
			<div class="container">
				<div class="aligner">
					<div class="aligner-item page-title">
						<h1>We Are Minimalist</h1>
						<p>Creative Digital Agency</p>
					</div>
				</div>
			</div>
		</section>
		<a href="#top" class="scroll-top scroll-top-hidden">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- End scroll-top -->
	</div>
	<!-- End content -->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="text-center">
					<!-- Footer Logo Text -->
					<a href="index.html" class="logo clearfix">Minidark</a>
					<div class="footer-socials">
						<a href="#" data-toggle="tooltip" data-placement="top" title="facebook">
							<i class="fa fa-fw fa-facebook"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="twitter">
							<i class="fa fa-fw fa-twitter"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="google plus">
							<i class="fa fa-fw fa-google-plus"></i>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="rss">
							<i class="fa fa-fw fa-rss"></i>
						</a>
					</div>
					<!-- End socials -->
					<!-- End footer-menu -->
					<p class="copy">
								 	<div style="width:300px;margin:0 auto;">
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35021102000374" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="{%static  'home/img/beian.png'%}" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽公网安备 35021102000374号</p></a>
		 	</div>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer -->
</div>
<!-- End animsition -->
<script src="{%static 'home/js/jquery-1.12.4.min.js'%}"></script>
<script src="{%static 'home/js/libs.js'%}"></script>
<!-- Custom -->
<script src="{%static 'home/js/main.js'%}"></script>
<script src="{%static 'home/js/script.js'%}"></script>
</body>
</html>
